<html>
{% load static %}

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static "f.css"%}">
<style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }</style>
  </head>
  <body>


<header class="header-area">
  <!-- site-navbar start -->
  <div class="navbar-area">
    <div class="navcontainer">
      <nav class="site-navbar">
        <!-- site logo -->
        <a href="#home" class="site-logo">Facedect</a>

        <!-- site menu/nav -->
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="{% url "teacher:teacherclick" %}">teacher</a></li>
          <li><a href="{% url "student:studentclick" %}">student</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">contact</a></li>
        </ul>

        <!-- nav-toggler for mobile version only -->
        <button class="nav-toggler">
          <span></span>
        </button>
      </nav>
    </div>
  </div><!-- navbar-area end -->
</header>



      {% block content %}

      {% endblock %}


<footer>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
          <p>Made in India <br>
            Copyright &copy; FactDect 2021<br><br>
            Ojasvita | Abhishek | Rupali </p><br>
        </div>
      </div>
    </div>
  </div>
</footer>


</body>
</html>