<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
{% load static %}


<head>
<title>Teacher</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>
</head>

  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-4">Hello, Teacher</h1>
    <p class="lead">Welcome to FACEDECT</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href={% url 'teacher:teachersignup' %} role="button">Create Your Account</a>
      <a class="btn btn-primary btn-lg" href={% url "teacher:teacherlogin" %} role="button">Login</a>
    </p>
    <br><br><br><br>
  </div>
  
{% endblock %}